.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;

  &__card {
    position: relative;

    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;

    overflow: hidden;
    border: 1px solid $portpholio-border;
  }

  &__description {
    font-size: 16px;
    line-height: 30px;
  }

  &__title {
    padding: 20px 24px;
  }

  &__name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: $teg-h-navigation;
  }
}

.project__tumb {
  position: relative;

  &::before {
    $background-color: rgba(33, 150, 243, 0.9);

    display: inline-block;
    position: absolute;

    content: '';

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $background-color;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity $transition-seting, transform $transition-seting;
  }

  & img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.projects__card:hover .project__tumb::before,
.projects__card:focus .project__tumb::before {
  opacity: 1;
  transform: translateY(0);
}

.project__text {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;

  font-size: 18px;
  line-height: 28px;
  color: $white-color;
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: color $transition-seting, transform $transition-seting;

  .projects__card:hover &,
  .projects__card:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects__card {
  transition: box-shadow $transition-seting, transform $transition-seting;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
