.projects {
  @media (max-width: 767px) {
    margin-top: 40px;
  }
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin-top: -30px;
    margin-left: -30px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-top: 0;
  }

  &__card {
    position: relative;
    margin-top: 30px;

    overflow: hidden;
    border: 1px solid $portpholio-border;

    @media (min-width: 768px) {
      margin-left: 30px;
      flex-basis: calc(100% / 2 - 30px);
    }

    @media (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
    }
  }

  &__description {
    font-size: 16px;
    line-height: 30px;
  }

  &__title {
    padding: 20px 24px;
  }

  &__name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: $teg-h-navigation;
  }
}

.project__tumb {
  position: relative;
  height: 294px;

  & img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.projects__card:hover .project__tumb::before,
.projects__card:focus .project__tumb::before {
  opacity: 1;
  transform: translateY(0);
}

.project__text {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;

  font-size: 18px;
  line-height: 28px;
  color: $white-color;
  background-color: $background-color;
  opacity: 0;
  transform: translateY(100%);
  transition: color $transition-seting, transform $transition-seting;

  @media (max-width: 767px) {
    padding: 77px 24px;
  }

  @media (min-width: 768px) {
    padding: 49px 24px;
  }

  @media (min-width: 1200px) {
    padding: 63px 24px;
  }

  .projects__card:hover &,
  .projects__card:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects__card {
  transition: box-shadow $transition-seting, transform $transition-seting;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
