@import './utils/variables';
@import './components/comon-setings';
@import './components/body';
@import './components/visualyhiden';
@import './components/header/header';
@import './components/header/navigation';
@import './components/logo/logo';
@import './components/header/header-contacts';
@import './components/mainpage/hero-section/hero-section';
@import './components/mainpage/skill-section/skills-section';
@import './components/mainpage/work-section/work-section';
@import './components/mainpage/team-section/team-section';
@import './components/mainpage/team-section/team-worker-card';
@import './components/mainpage/team-section/social-network-icons';
@import './components/mainpage/our-clients/clients-section';
@import './components/mainpage/modal/backdrop';
@import './components/mainpage/modal/form-modal';

@import './components/mainpage/modal/form-agree';

@import './components/footer/footer';
@import './components/footer/container-contacts';
@import './components/footer/container-social';
@import './components/footer/container-form';
