.skills {
  @media (min-width: 1200px) {
    padding-top: 94px;
  }

  &__text {
    margin-top: 10px;
    color: $text-color;
    font-size: 14px;
    line-height: 24px;
  }

  &__title {
    color: $teg-h-navigation;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__box {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 30px;

    background-color: $ourteam-background;
    border-radius: 4px;

    @media (max-width: 767px) {
      max-width: 767px;
    }
  }

  &__item {
    @media (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-right: 30px;
      margin-bottom: 30px;
    }

    @media (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }
}

.skills-container {
  padding: 60px 15px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 767px) {
    max-width: 767px;
  }

  @media (min-width: 768px) {
    max-width: 1199px;
  }

  @media (min-width: 1200px) {
    display: flex;
    width: 1200px;
    padding: 0 15px;
  }
}

.skills__list {
  max-width: 100%;
  @media (min-width: 768px) {
    display: flex;
  }

  @media (max-width: 1199px) {
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  & .skills__item:not(:first-child) {
    @media (max-width: 767px) {
      margin-top: 30px;
    }
    @media (min-width: 1199px) {
      margin-left: 30px;
    }
  }
}
