.footer-social__container {
  text-align: center;
  @media (max-width: 767px) {
    margin-top: 60px;
  }
  @media (min-width: 768px) {
    // margin-left: 165px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 1200px) {
    margin-left: 165px;
  }
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $white-color;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  & :not(:first-child) {
    margin-left: 10px;
  }
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: $link-background;
  fill: $white-color;

  transition: background-color $transition-seting;

  &:hover,
  &:focus {
    background-color: $hover-allblue;
    transition: background-color $transition-seting;
  }
}
