.page {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  &-container {
    margin-left: auto;
    margin-right: auto;

    padding: 16px 15px;
    margin: 0 auto;

    display: flex;
    position: relative;

    @media (max-width: 767px) {
      max-width: 767px;
      min-width: 320px;
    }
    @media (min-width: 768px) {
      padding: 26px 15px;
      max-width: 1199px;
    }

    @media (min-width: 1200px) {
      width: 1200px;
      padding-top: 24px;
      padding-bottom: 25px;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.logo {
  @media (min-width: 1200px) {
    margin-right: 92px;
  }

  &-part {
    color: $hover-allblue;
  }
}
