.page-contacts {
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 1200px) {
    display: flex;
  }
  margin-left: auto;

  & li:not(:first-child) {
    @media (max-width: 1199px) {
      margin-top: 10px;
    }

    @media (min-width: 1200px) {
      margin-left: 50px;
    }
  }
}

.page-contacts__link {
  display: flex;
  align-items: center;

  color: $text-color;

  transition: color $transition-seting;

  &:hover,
  &:focus {
    color: $hover-allblue;
  }

  &:hover .page-contacts__icon,
  &:focus .page-contacts__icon {
    fill: $hover-allblue;
  }
}

.page-contacts__icon {
  @media (max-width: 1199px) {
    margin-right: 8px;
  }

  @media (min-width: 1199px) {
    margin-right: 10px;
  }

  fill: $svg-color;
  transition: fill $transition-seting;
}
