.page-nav {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
  }
}

.page-nav__list {
  @media (max-width: 767px) {
    display: none;
  }
  display: flex;
  margin: 0 auto;
  margin-left: 88px;

  & li:not(:first-child) {
    margin-left: 50px;
  }
}

.page-nav__link {
  color: $teg-h-navigation;
  padding-top: auto;

  transition: $transition-seting;

  &.current {
    color: $hover-allblue;
  }

  &.current::after {
    opacity: 1;
  }

  &:hover,
  &:focus {
    color: $hover-allblue;
  }

  &::after {
    content: '';
    position: absolute;

    display: block;
    width: 100%;
    height: 4px;

    background-color: $hover-allblue;
    border-radius: 2px;

    opacity: 0;
    transition: opacity $transition-seting, color $transition-seting;

    @media (max-width: 1199px) {
      transform: translateY(54px);
    }

    @media (min-width: 1200px) {
      transform: translateY(44px);
    }
  }

  &:hover::after {
    opacity: 1;
  }
}
