.hero {
  padding: 118px 15px;
  text-align: center;
  color: $white-color;
  display: block;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('fon@2x.png');
    }
  }

  @media (min-width: 1200px) {
    padding: 200px 15px;
    max-width: 1600px;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    margin: 0 auto;
    text-transform: uppercase;
    flex-wrap: wrap;

    @media (min-width: 480px) {
      max-width: 360px;
    }
    @media (min-width: 1200px) {
      font-size: 44px;
      line-height: 60px;
      max-width: 696px;
    }
  }

  &__link {
    background-color: $hover-allblue;
    color: $white-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
  }
}
