.work {
  padding-top: 94px;
  padding-bottom: 94px;

  & li:not(:first-child) {
    margin-left: 30px;
  }

  &__list {
    display: flex;
  }

  &__card {
    position: relative;
  }

  &__tumb {
    width: 370px;
  }

  &__text {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27px 0px;
    background-color: rgba(47, 48, 58, 0.8);
    left: 0;
    bottom: 0;
    width: 100%;

    font-size: 14px;
    line-height: 16px;
    color: $white-color;
  }

  &__link {
    position: relative;
    height: 100%;
  }
}

.work-container {
  width: 1200px;

  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.work__title {
  text-align: center;
  margin-bottom: 50px;

  color: $teg-h-navigation;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.work__tumb img {
  display: block;
  height: 100%;
  width: 100%;
}
